{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for spell in v_spells %}
            <div class="col-md-6 col-lg-3">
                <div class="card mb-3"
                    {% if spell.school.name != "" %}
                        style="border-color: transparent; background-image: url( '/static/img/{{spell.school.name}}.jpg' ); color: white;"
                    {% else %}
                        style="color: black;"
                    {% endif %}
                >
                    <!--img class="card-img-top" src="/static/img/{{speaker.avatar}}" alt="Vivianne"-->
                    <div class="card-body">
                        <a href="{% url 'spell_detail' spell.id spell.name %}" style="text-decoration: none;">
                            <h4 class="card-title text-center"
                            {% if spell.school.name != "" %}
                                style="color: white;"
                            {% else %}
                            style="color: black;"
                            {% endif %}
                            >{{spell.name}}</h4>
                        </a>
                        <div class="text-center">{{ spell.school.name }}</div>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <strong>Level: </strong>
                                    {% if spell.level == 0 %}
                                        Cantrip
                                    {% else %}
                                        {{spell.level}}
                                    {% endif %}
                                </div>
                                <div class="col-7"><strong>Time: </strong>{{spell.casting_time}} 
                                    {% if spell.ritual %}
                                        (R)
                                    {% endif %}
                                </div>
                                <div class="col-12"><strong>Duration: </strong>{{spell.duration}} 
                                    {% if spell.concentration %}
                                        (C)
                                    {% endif %}
                                </div>
                                <!--div class="col-12"><strong>Components: </strong>{{spell.components}}</div-->
                                <div class="col-6"><strong>Range: </strong>{{spell.range}}</div>
                                <div class="col-6"><strong>Area: </strong>{{spell.area}}</div>
                                <div class="col-12"><strong>Shape: </strong>{{spell.area_shape}}</div>
                                <div class="col-6"><strong>Attack: </strong>{{spell.attack}}</div>
                                <div class="col-6"><strong>Save: </strong>{{spell.saving_throw}}</div>
                                <!--div class="col-12"><strong>Damage: </strong>{{spell.damage_type}}</div-->
                                <!--div class="col-12"><strong>Effect: </strong>{{spell.effect}}</div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}