{% extends "base.html" %}

{% block content %}
  <script>
        function toggle_favorite(s_id) {
            valu = $('#'+s_id).val();
            if (valu=="True") {
                $('#'+s_id).val("False");
            }
            else {
                $('#'+s_id).val("True");
            }
            valu = $('#'+s_id).val();
            console.log(s_id + " " + valu);
        }
  </script>
    <div class="row">
        {% for spell in v_spells %}
            <div class="col-md-6 col-lg-3">
                <div class="card mb-3"
                    {% if spell.school.name != "" %}
                        style="border-color: transparent; background-image: url( '/static/img/{{spell.school.name}}.jpg' ); color: white;"
                    {% else %}
                        style="color: black;"
                    {% endif %}
                >
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <div class="fave">
                            <form class='like'>
                                <input type="checkbox" id='{{spell.id}}' class='star fm' onclick="toggle_favorite({{spell.id}});"
                                    {% for r in v_faves %}
                                        {% if r.spell == spell %}
                                            checked value="True"
                                        {% endif %}
                                    {% endfor %}
                                >
                              <label for="{{spell.id}}"><i class='fa fa-star px-1'></i></label>
                            </form>
                        </div>
                        {% endif %}
                        <a href="{% url 'spell_detail' spell.id spell.name %}" style="text-decoration: none;">
                            <h4 class="card-title text-center"
                            {% if spell.school.name != "" %}
                                style="color: white;"
                            {% else %}
                            style="color: black;"
                            {% endif %}
                            >{{spell.name}}</h4>
                        </a>
                        <div class="text-center">{{ spell.school.name }}</div>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <strong>Level: </strong>
                                    {% if spell.level == 0 %}
                                        Cantrip
                                    {% else %}
                                        {{spell.level}}
                                    {% endif %}
                                </div>
                                <div class="col-7"><strong>Time: </strong>{{spell.casting_time}} 
                                    {% if spell.ritual %}
                                        (R)
                                    {% endif %}
                                </div>
                                <div class="col-12"><strong>Duration: </strong>{{spell.duration}} 
                                    {% if spell.concentration %}
                                        (C)
                                    {% endif %}
                                </div>
                                <div class="col-6"><strong>Range: </strong>{{spell.range}}</div>
                                <div class="col-6"><strong>Area: </strong>{{spell.area}}</div>
                                <div class="col-12"><strong>Shape: </strong>{{spell.area_shape}}</div>
                                <div class="col-6"><strong>Attack: </strong>{{spell.attack}}</div>
                                <div class="col-6"><strong>Save: </strong>{{spell.saving_throw}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}