{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for lv in v_levels %}
            <div class="col-md-6 col-lg-3">
                <div class="card mb-3" style="color: black;">
                    <div class="card-body">
                        <a href="{% url 'level_spells' lv %}" style="text-decoration: none;">
                            <h4 class="card-title text-center" style="color: black;">
                                {% if lv == 0 %}
                                    Cantrip
                                {% else %}
                                    {{lv}}
                                {% endif %}
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}