{% extends "base.html" %}
{%load static%}
{% block content %}
    <form action="{% url 'new_spell' %}" method='POST'>{% csrf_token %}
        <div class="row">
            {{ form.as_p }}
        </div>
        
        <button type="submit" class="btn btn-primary my-5">Submit</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger my-5">
            {{form.errors.name.as_text}} <br>
            {{form.errors.description.as_text}}
            
        </div>
    {% endif %}
{% endblock %}