{% extends "base.html" %}

{% block content %}
    <div class="card mb-3"
        {% if spell.school.name != "" %}
            style="border-color: transparent; background-image: url( '/static/img/{{v_spell.school.name}}.jpg' ); color: white;"
        {% else %}
            style="color: black;"
        {% endif %}
    >
        <div class="card-body">
            {% if user.is_authenticated %}
                <div class="fave">
                    <form class='like'>
                        <input type="checkbox" id='{{v_spell.id}}' class='star fm' onclick="toggle_favorite({{v_spell.id}});"
                            {% for r in v_faves %}
                                {% if r.spell == v_spell %}
                                    checked value="True"
                                {% endif %}
                            {% endfor %}
                        >
                        <label for="{{v_spell.id}}"><i class='fa fa-star px-1'></i></label>
                    </form>
                </div>
            {% endif %}
            <a href="{% url 'spell_detail' v_spell.id v_spell.name %}" style="text-decoration: none;">
                <h4 class="card-title text-center"
                {% if spell.school.name != "" %}
                    style="color: white;"
                {% else %}
                style="color: black;"
                {% endif %}
                >{{v_spell.name}}</h4>
            </a>
            <div class="text-center">{{ v_spell.school.name }}</div>
            <hr>
            <div class="card-text">
                <div class="row">
                    <div class="col">
                        <strong>Level: </strong>
                        {% if v_spell.level == 0 %}
                            Cantrip
                        {% else %}
                            {{v_spell.level}}
                        {% endif %}
                    </div>
                    <div class="col"><strong>Casting Time: </strong>{{v_spell.casting_time}} 
                        {% if v_spell.ritual %}
                             (R)
                        {% endif %}
                    </div>
                    <div class="col"><strong>Duration: </strong>{{v_spell.duration}} 
                        {% if v_spell.concentration %}
                            (C)
                        {% endif %}
                    </div>
                    <div class="col"><strong>Components: </strong>
                    {% if v_spell.components.all %}
                        {% for com in v_spell.components.all %}
                            {{com.name}} 
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col"><strong>Range: </strong>{{v_spell.range}}</div>
                    <div class="col"><strong>Area: </strong>{{v_spell.area}}</div>
                    <div class="col"><strong>Shape: </strong>{{v_spell.area_shape}}</div>
                    <div class="col"><strong>Attack: </strong>{{v_spell.attack}}</div>
                    <div class="col"><strong>Save: </strong>{{v_spell.saving_throw}}</div>
                    <div class="col"><strong>Damage Type: </strong>
                        {% for dam in v_spell.damage_type.all %}
                            {{dam.name}} 
                        {% endfor %}
                    </div>
                    <div class="col"><strong>Effect: </strong>
                        {% for eff in v_spell.effects.all %}
                            {{eff.name}} 
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row pb-5">
                    <div class="col-12">{{v_spell.description}}</div>
                </div>
                <div class="row pb-3">
                    <div class="col-12"><strong>If cast using higher level spell slots: </strong>{{v_spell.upcasting}}</div>
                </div>
                {% if v_spell.materials != "None" %}
                    Materials: <em>{{v_spell.materials}}</em>
                {% endif %}
                {% if v_spell.char_class.all %}
                    <hr>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">Classes that can access this spell:</div>
                        {% for cls in v_spell.char_class.all %}
                            <div class="card col-lg-2 col-md-2 col-sm-3 col-4 text-center" style="color:black;">
                                <strong>{{cls.name}}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if v_spell.creator.user.id != 1 %}
                    <hr>
                    <div class="text-end">
                        <strong>Spell created by: </strong>{{v_spell.creator.user.username}}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <hr>
            <div class="starcontainer mb-3" style="font-size: 1.5rem;">
                <div class="rating">
                <form class='stars'>
                    <button id="clear" class="btn text-white rat" value="{{v_spell.id}}" style="border-color: transparent;">&times;</button>
                    <input type="radio" name='stars' value='{{v_spell.id}}' id='5stars' class='star rat' 
                        {% if v_rate == 5 %}
                            checked
                        {% endif %}
                    >
                    <label for="5stars"><i class='fa fa-star px-1'></i></label>
                    <input type="radio" name='stars' value='{{v_spell.id}}' id='4stars' class='star rat' 
                        {% if v_rate == 4 %}
                            checked
                        {% endif %}
                    >
                    <label for="4stars"><i class='fa fa-star px-1'></i></label>
                    <input type="radio" name='stars' value='{{v_spell.id}}' id='3stars' class='star rat' 
                        {% if v_rate == 3 %}
                            checked
                        {% endif %}
                    >
                    <label for="3stars"><i class='fa fa-star px-1'></i></label>
                    <input type="radio" name='stars' value='{{v_spell.id}}' id='2stars' class='star rat' 
                        {% if v_rate == 2 %}
                            checked
                        {% endif %}
                    >
                    <label for="2stars"><i class='fa fa-star px-1'></i></label>
                    <input type="radio" name='stars' value='{{v_spell.id}}' id='1star' class='star rat' 
                        {% if v_rate == 1 %}
                            checked
                        {% endif %}
                    >
                    <label for="1star"><i class='fa fa-star px-1'></i></label>
                    
                </form>
                
                </div>
            </div>
        {% endif %}
    </div>
    
<script>

    $(function() {
        $('.rat').on('click', function(e) {
            console.log("spell no "+this.value);
            console.log(this.id)
            if (this.id=="5stars") {
                r = 5
            }
            else if (this.id=="4stars") {
                r = 4
            }
            else if (this.id=="3stars") {
                r = 3
            }
            else if (this.id=="2stars") {
                r = 2
            }
            else if (this.id=="1star"){
                r = 1
            }
            else {
                r = 0
            }
            $.ajax({
                url: "{% url 'new_rating' %}", //this is the submit URL
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    rating: r,
                    spell_id: Number($('#'+this.id).val())
                },
                success: function(response) {
                    console.log(response["msg"]);
                    if (response["msg"] == "ok") {
                    } else {
                        console.log("Failure");
                    }
                    setTimeout(function() {
                    }, 3000);
                },
                error: function(response) {
                    alert("error from my js");
                }

            });
        });
    });

</script>
{% endblock %}