.backg-nav {
    background-color: #3d304f;
}

.dark-bg {
    background-color: #ece1fa;
}

.jumbotron {
    background-image: url( '../img/jumbo_bg.jpg' );
  background-size: cover;
}

.card {
    border-color: transparent;
}